.middnav {
  padding-top: 10px;
}
.container-midd {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.leftlinks-search .links-search {
  width: 100%;
  display: flex;
  gap: 30px;
}
.leftlinks-search .links-search a {
  font-size: 15px;
  font-weight: bold;
  color: #fa8411;
}
.cart {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cart svg {
  font-size: 30px;
}
.cart .count {
  position: absolute;
  top: -5px;
  left: 16px;
  background-color: #fa8411;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  font-size: 14px;
}
.cart button {
  padding: 0;
  background-color: transparent;
  border: none;
}
.cart button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.menu {
  display: none;
}

.menu .menu-icon {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .leftlinks-search {
    display: none;
  }

  .cart {
    display: none;
  }

  .menu {
    display: block;
  }
}
