header {
  min-height: 153px;
}
.middnav {
  position: static;
  padding-top: 10px;
  width: 100%;
  transition: 1s;
  top: -80px;
  background-color: white;
  z-index: 999;
}
.middnav-scroll {
  position: fixed;
  z-index: 999;
  top: 0;
}
.container-midd {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.leftlinks-search .links-search {
  width: 100%;
  display: flex;
  gap: 30px;
}
.links-search li {
  position: relative;
}
.links-search a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #fa8411;
  top: 32px;
  transition: 0.5s ease-in;
}
.links-search a:hover:before {
  width: 100%;
}

.leftlinks-search .links-search a {
  font-size: 18px;
  font-weight: bold;
  color: #fa8411;
}
.cart {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cart svg {
  font-size: 30px;
}
.cart .count {
  position: absolute;
  top: -6px;
  background-color: #fa8411;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
}
.cart button {
  padding: 0;
  background-color: transparent;
  border: none;
}
.cart a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
button.auth-btn {
  background-color: #fa8411;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.35s;
}
button.auth-btn:hover {
  background-color: #e27f1c;
}
button.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: none;
}
.menu .menu-icon {
  font-size: 30px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  height: 100vh;
  z-index: 999;
  background-color: #fa8411;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  font-size: 18px;
  transition: 0.5s ease-out;
}

.show-menu {
  right: 0;
}

.hide-menu {
  right: -100%;
}

.mobile-menu .close-btn {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.mobile-menu .mobile-nav-lang {
  all: unset;
}

.mobile-menu .mobile-nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile-menu .mobile-nav-lang img {
  border-radius: 50%;
  aspect-ratio: 1;
}

@media screen and (max-width: 1023px) {
  .leftlinks-search {
    display: none;
  }

  .cart {
    display: none;
  }

  .menu {
    display: block;
  }

  .mobile-menu {
    gap: 2rem;
  }

  .mobile-menu li {
    font-size: 14px;
  }

  .mobile-menu li img {
    width: 25px;
  }
}
