.links{
    width: 20%;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
}
.links .sidenav-links li{
    padding: 9px 0 9px 12px;
}
.links .sidenav-links li a{
    color: #000;
    font-weight: bold;
    transition: .3s ease-in;
    font-size: 15px;
}
.links .sidenav-links li a:hover{
    text-decoration: underline;
    color: #fa8411;
    padding-left: 5px;
}