.hero {
  overflow: hidden;
  background-image: url("https://res.cloudinary.com/dxfphp6to/image/upload/v1705702464/nabdu_al_qalam/gradient-wallpaper_us4jwu_1920x1080_vhnm4h.webp");
  background-size: cover;
  background-position: top;
}

.hero .container {
  animation: scale 1s;
  min-height: calc(100vh - 153px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.hero .container .content {
  color: white;
}

.hero .container .content h1 {
  position: relative;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.hero .container .content p {
  position: relative;
  line-height: 1.4;
  max-width: 800px;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 2rem;
}

.hero .container .content h1.ar,
.hero .container .content p.ar {
  margin-left: auto !important;
  animation: slide-left ease 1s;
}

.hero .container .content h1.en,
.hero .container .content p.en {
  margin-right: auto !important;
  animation: slide-right ease 1s;
}

.hero .container .content a {
  position: relative;
  display: block;
  width: fit-content;
  background-color: #c0114c;
  border: 1px solid #c0114c;
  border-radius: 6px;
  color: white;
  padding: 0.8rem 1.4rem;
  animation: appear ease 2s;
  z-index: 1;
  transition: 0.35s;
}

.hero .container .content a:hover {
  background-color: #9c1441;
}

.hero .container .image-container img {
  position: relative;
  width: 100%;
  height: auto;
  animation: up-down 2s ease-in-out alternate infinite;
}

@media screen and (max-width: 1023px) {
  .hero .container .image-container {
    width: 40%;
  }

  .hero .container .content h1 {
    font-size: 35px;
  }

  .hero .container .content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .hero .container .content {
    width: 100%;
  }

  .hero .container .image-container {
    width: 100%;
  }

  .hero .container {
    flex-direction: column !important;
    padding-top: 3rem;
    text-align: center;
  }

  .hero .container .content a {
    margin: 0 auto;
  }
}

@keyframes up-down {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(-1rem);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
