.newsletter {
  background-color: #c0114c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}

@media screen and (max-width: 865px) {
  .newsletter {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 462px) {
  .newsletter {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 323px) {
  .newsletter {
    margin-top: 5rem;
  }
}

.newsletter form {
  flex: 1;
  display: flex;
  justify-content: end;
}

.newsletter form input {
  padding: 1rem 0.6rem;
  width: 500px;
  border: none;
  outline: none;
}

@media screen and (max-width: 1023px) {
  .newsletter form input {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .newsletter form input {
    width: 275px;
  }
}

.newsletter form input::placeholder {
  transition: 0.5s;
}

.newsletter form input:focus::placeholder {
  opacity: 0;
}

.newsletter form button {
  background-color: rgb(235, 184, 117);
  border: none;
  color: white;
  padding: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.35s;
}

.newsletter form button:hover {
  background-color: rgb(210, 167, 111);
}

.newsletter form p {
  position: absolute;
  left: 10px;
  top: -25px;
  color: gray;
  font-size: 12px;
  line-height: 1.4;
}

@media screen and (max-width: 865px) {
  .newsletter form p {
    top: -40px;
  }
}

@media screen and (max-width: 461px) {
  .newsletter form p {
    top: -55px;
  }
}

@media screen and (max-width: 323px) {
  .newsletter form p {
    top: -70px;
    overflow: hidden;
    height: 67px;
  }
}

@media screen and (max-width: 1200px) {
  .newsletter {
    gap: 1rem;
  }

  .newsletter h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .newsletter h1 {
    font-size: 20px;
    flex: 1;
  }

  .newsletter form input {
    width: 200px;
  }
}

@media screen and (max-width: 640px) {
  .newsletter {
    padding: 1rem;
    width: 100%;
    flex-direction: column !important;
  }

  .newsletter form p {
    text-align: center;
    left: 0;
    padding: 0 0.5rem;
  }

  .newsletter h1 {
    font-size: 20px;
    text-align: center;
  }

  .newsletter form button {
    font-size: 12px;
  }

  .newsletter form input {
    width: 100%;
    padding-right: 4px;
  }

  .newsletter form input::placeholder {
    font-size: 12px;
  }
}
