.shopping-cart {
  padding: 6rem 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-height: 991px) {
  .shopping-cart {
    padding: 3rem 0;
  }
}

.shopping-cart .empty-cart {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

@media screen and (max-width: 1023px) {
  .shopping-cart .empty-cart {
    flex-direction: column !important;
    gap: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .shopping-cart .empty-cart img {
    width: 100%;
  }
}

.shopping-cart .shopping-cart-items {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  flex: 2;
}

.shopping-cart .shopping-cart-item {
  padding-bottom: 2rem;
  border-bottom: 2px solid #bbb;
  width: 90%;
  display: flex;
  gap: 2rem;
}

.shopping-cart .shopping-cart-item img {
  width: 200px;
  height: 230px;
  border-radius: 6px;
}

.shopping-cart .shopping-cart-item p {
  color: #666666;
  padding: 0;
  margin: 1rem 0;
}

.shopping-cart .shopping-cart-item .btn-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping-cart .shopping-cart-item .btn-group button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.35s;
}

.shopping-cart .shopping-cart-item .btn-group button svg {
  color: #666666;
  transition: 0.35s;
}

.shopping-cart .shopping-cart-item .btn-group button:hover,
.shopping-cart .shopping-cart-item .btn-group button:hover svg {
  color: #c0114c;
}

.shopping-cart .shopping-cart-info {
  flex: 1;
}

.shopping-cart .shopping-cart-info p {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart .shopping-cart-info h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart .shopping-cart-info span {
  font-size: 15px;
}

.shopping-cart .shopping-cart-info button {
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 8px;
  padding: 0.75rem 0;
  transition: 0.35s;
  font-weight: bold;
}

.shopping-cart .shopping-cart-info button:hover {
  background-color: rgb(235, 184, 117);
  color: #333;
}

.shopping-cart .shopping-cart-link {
  color: #d11e5a;
  text-decoration: underline;
}

.shopping-cart .shopping-cart-link:hover {
  color: #a61c4a;
  text-decoration: none;
}

.shopping-cart h1.empty-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart h1.empty-heading a {
  display: block;
}

.shopping-cart .quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.countQuantity {
  font-weight: bold;
  font-size: 18px;
}
.shopping-cart .quantity button {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  transition: 0.35s ease-out;
}

.shopping-cart .quantity button:hover {
  background-color: rgb(235, 184, 117);
  color: #333;
}

@media screen and (max-width: 1023px) {
  .shopping-cart {
    flex-direction: column !important;
  }

  .shopping-cart .shopping-cart-items {
    justify-content: center;
    align-items: center;
  }

  .shopping-cart .shopping-cart-items .shopping-cart-item {
    justify-content: center;
  }

  .shopping-cart .shopping-cart-info {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .shopping-cart .shopping-cart-item {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .shopping-cart .shopping-cart-link {
    color: #c0114c;
    text-decoration: underline;
    display: block;
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .shopping-cart .shopping-cart-items .shopping-cart-item {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .shopping-cart .shopping-cart-items .shopping-cart-item .btn-group {
    justify-content: center !important;
  }

  .shopping-cart .shopping-cart-info h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 331px) {
  .shopping-cart-info h3 {
    font-size: 14px;
  }
}
