.shopping-cart {
  padding: 3rem 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.shopping-cart.empty-cart {
  height: 50vh;
  width: 100%;
  padding: 6rem 0;
}

.shopping-cart-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  flex: 2;
}

.shopping-cart .shopping-cart-item {
  padding-bottom: 2rem;
  border-bottom: 2px solid #bbb;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.shopping-cart .shopping-cart-item img {
  width: 200px;
  height: 230px;
  border-radius: 6px;
}

.shopping-cart .shopping-cart-item p {
  color: #666666;
  padding: 0;
  margin: 1rem 0;
}

.shopping-cart .shopping-cart-item .btn-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping-cart .shopping-cart-item .btn-group button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.35s;
}

.shopping-cart .shopping-cart-item .btn-group button svg {
  color: #666666;
  transition: 0.35s;
}

.shopping-cart .shopping-cart-item .btn-group button:hover,
.shopping-cart .shopping-cart-item .btn-group button:hover svg {
  color: #c0114c;
}

.shopping-cart .shopping-cart-info {
  flex: 1;
}

.shopping-cart .shopping-cart-info p {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart .shopping-cart-info h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart .shopping-cart-info span {
  font-size: 15px;
}

.shopping-cart .shopping-cart-info button {
  width: 100%;
  color: white;
  margin-top: 1.5rem;
  background-color: #fa8411;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 0;
  transition: 0.35s;
}

.shopping-cart .shopping-cart-info button:hover {
  background-color: #e1760b;
}

.shopping-cart .shopping-cart-link {
  color: #d11e5a;
  text-decoration: underline;
}

.shopping-cart .shopping-cart-link:hover {
  color: #a61c4a;
  text-decoration: none;
}

.shopping-cart h1.empty-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart .quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shopping-cart .quantity button {
  background-color: #fa8411;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.35s ease-out;
}

.shopping-cart .quantity button:hover {
  background-color: #e1760b;
}

@media screen and (max-width: 1023px) {
  .shopping-cart {
    flex-direction: column !important;
  }

  .shopping-cart .shopping-cart-items {
    justify-content: center;
    align-items: center;
  }

  .shopping-cart .shopping-cart-items .shopping-cart-item {
    justify-content: center;
  }

  .shopping-cart .shopping-cart-info {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 764px) {
  .shopping-cart {
    margin-top: 40px;
  }
}
@media screen and (max-width: 550px) {
  .shopping-cart {
    margin-top: 60px;
  }

  .shopping-cart .shopping-cart-link {
    color: #c0114c;
    text-decoration: underline;
    display: block;
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .shopping-cart .shopping-cart-items .shopping-cart-item {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .shopping-cart .shopping-cart-items .shopping-cart-item .btn-group {
    justify-content: center !important;
  }

  .shopping-cart .shopping-cart-info h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 531px) {
  .shopping-cart {
    margin-top: 4.5rem;
  }
}
