.headingActivity h1 {
  text-align: center;
  color: #fa8411;
  position: relative;
  width: fit-content;
  margin: 20px auto ;
  font-size: 24px;
}

.headingActivity h1::before {
  content: "";
  position: absolute;
  top: 3rem;
  height: 3px;
  background-color: #fa8411;
  width: 100%;
}
.activities {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.activities .activity {
  width: 350px;
  height: 175px;
  background: linear-gradient(
      to top right,
      #fa8411,
      #99123f,
      #99123f,
      #99123f,
      #fa8411,
      #fa8411,
      #99123f,
      transparent
    ),
    linear-gradient(
      to top right,
      #99123f,
      #fa8411,
      #fa8411,
      #99123f,
      #fa8411,
      #99123f,
      transparent
    ),
    linear-gradient(
      to top left,
      #99123f,
      #fa8411,
      #99123f,
      #fa8411,
      #99123f,
      #99123f,
      transparent
    ),
    linear-gradient(
      to top left,
      #99123f,
      #fa8411,
      #fa8411,
      #99123f,
      #99123f,
      transparent
    );
  background-blend-mode: lighten;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  border-radius: 10px;
}

.activities .activity::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.35s;
  border-radius: 10px;
}

.activities .activity h4 {
  text-align: center;
}

.activities .activity a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.35s;
  z-index: 4;
  background-color: #c0114c;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
}

.activities .activity a:hover {
  background-color: #99123f;
}

.activities .activity:hover a,
.activities .activity:hover::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .activities .activity {
    width: 250px;
  }
}

@media screen and (max-width: 560px) {
  .activities .activity {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .activities .activity {
    width: 100%;
  }

  .activities {
    padding: 3rem 1rem;
  }
}
