.containerActive h1 {
    text-align: center;
    color: #fa8411;
    position: relative;
    width: fit-content;
    margin: 20px auto 50px;
    font-size: 24px;
}

.containerActive h1::before {
    content: "";
    position: absolute;
    top: 3rem;
    height: 3px;
    background-color: #fa8411;
    width: 100%;
}

.contentActive{
    position: relative;
}
.sunrise{
    width: 100%;
    position: relative;
}
.sunrise img{
    width: 100%;
    height: auto;
}
.sunrise::before{
    content: "";
    position: absolute;
    all: unset;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.contentActive{
    position: relative;
}
.paragEN{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.paragraphActiveEn{
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}
.paragAR {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.paragraphActiveAr{
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}