.contact-section {
  margin: 0 0 3rem;
}

.contact-section .heading h1 {
  text-align: center;
  color: #fa8411;
  position: relative;
  width: fit-content;
  margin: 20px auto 50px;
  font-size: 24px;
}

.contact-section .heading h1::before {
  content: "";
  position: absolute;
  top: 3rem;
  height: 3px;
  background-color: #fa8411;
  width: 100%;
}

.contact-section .contact {
  width: 900px;
  margin: 0 auto;
  background-color: rgb(235, 184, 117);
  color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 0.5rem;
}

.contact-section .contact .left-side {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.contact-section .contact .left-side input,
.contact-section .contact .left-side textarea {
  padding: 0.5rem 0.75rem 0.5rem 0;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  outline: none;
  caret-color: #c0114c;

  font-size: 16px;
}

.contact-section .contact .left-side input:focus::placeholder,
.contact-section .contact .left-side textarea:focus::placeholder {
  opacity: 0;
}

.contact-section .contact .left-side input::placeholder,
.contact-section .contact .left-side textarea::placeholder {
  color: #333;
  transition: 0.35s;
  font-size: 13px;
}

.contact-section .contact .left-side textarea {
  height: 150px;
  min-height: 100px;
  max-height: 150px;
  resize: vertical;
}

.contact-section .contact .left-side button {
  background-color: #c0114c;
  border: 2px solid #c0114c;
  color: white;
  cursor: pointer;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  transition: 0.35s;
}

.contact-section .contact .left-side button:hover {
  background-color: #9e1342;
  border-color: #9e1342;
}

.contact-section .contact .right-side {
  flex: 1;
}

.contact-section .contact .right-side iframe {
  width: 100%;
}

.contact-section .contact .loader {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block !important;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.contact-section .contact .loader::after,
.contact-section .contact .loader::before {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1023px) {
  .contact-section .contact {
    width: 600px;
    flex-direction: column;
  }

  .contact-section .contact .left-side,
  .contact-section .contact .right-side {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .contact {
    width: 500px;
  }
}

@media screen and (max-width: 552px) {
  .contact-section .contact {
    width: 350px;
  }
}

@media screen and (max-width: 551px) {
  .contact-section .contact {
    display: flex;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 400px) {
  .contact-section .contact {
    width: 295px;
  }
}
@media screen and (max-width: 300px) {
  .contact-section .contact {
    width: 100%;
  }
}
