.topnav {
  width: 100%;
  background-color: #fa8411;
}
.container-nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}
<<<<<<< HEAD
.contact-paragraph a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.mail a {
=======
.contact-paragraph,
.mail {
>>>>>>> 7eec79ebd3519277647ba895214215ef4ae843df
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
}
.container-nav ul {
  display: flex;
  gap: 50px;
}
.container-nav ul li a {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease-out;
}

@media screen and (max-width: 415px) {
  .container-nav {
    flex-wrap: wrap;
    gap: 0.5rem;
    column-gap: 2rem;
    justify-content: center;
  }
}
