footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  background-color: rgb(235, 184, 117);
  color: #333;
  padding: 2rem 3rem;
}

footer ul {
  width: 100%;
}

footer ul li:not(:last-of-type) {
  margin-bottom: 1rem;
  border-bottom: 1px solid lightslategray;
  padding-bottom: 1rem;
  transition: 0.35s;
}

footer ul li:not(footer .info, footer ul li:has(h1)):hover {
  text-decoration: underline;
  color: #c0114c;
}

footer .info,
footer ul li:has(h1) {
  cursor: auto;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

footer .payment-methods {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .payment-methods li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 8rem;
  cursor: default;
}

footer .payment-methods li img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

@media screen and (max-width: 1165px) {
  footer {
    flex-wrap: wrap;
    gap: 2rem;
  }

  footer ul {
    width: 46.5%;
  }

  footer .payment-methods {
    justify-content: start;
  }
}

@media screen and (max-width: 768px) {
  footer ul {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  footer {
    width: 100%;
  }

  footer .payment-methods li {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 329px) {
  footer {
    padding: 1.5rem;
  }

  footer ul li:has(h1) h1 {
    font-size: 20px;
  }

  footer ul li {
    font-size: 12px;
  }
}
