/*TODO Cairo (Arabic Font) */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Inter:wght@400;600;700&display=swap");

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Cairo", sans-serif;
}

html {
  user-select: none;
  scroll-behavior: smooth;
}

li,
button {
  overflow: none;
  cursor: pointer;
}

button {
  overflow: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #c0114c;
}
.topbtn {
  transition: 0.5s;
}
.topbtn .top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 0.5s ease-in;
  cursor: pointer;
  border-radius: 50%;
  color: #c0114c;
  font-weight: bold;
  font-size: 20px;
  background-color: #ebb875;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  z-index: 99999999999999;
}
.topbtn .top svg {
  position: absolute;
  right: 5xp;
  left: 10px;
  top: 8px;
}
.display {
  opacity: 1;

  pointer-events: all;
}
.hide {
  opacity: 0;
  pointer-events: none;
}

.error-heading {
  color: red;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1.4px;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-heading span {
  color: black;
}

.error-heading span a {
  color: #ebb875;
  text-decoration: underline;
  transition: 0.35s;
}

.error-heading span a:hover {
  color: #d7a767;
}

/* Loader */
.loader-container {
  background-color: rgb(235, 184, 117);
  position: fixed;
  z-index: 999;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 1;
}

.loader-container-fadeOut {
  opacity: 0 !important;
  z-index: -1;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
