* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("./assets//bg_body.jpg");
  width: 100%;
  background-position: center;
  background-color: #f8f8f8;
}
html {
  user-select: none;
  scroll-behavior: smooth;
}

li,
button {
  cursor: pointer;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background-color: #c0114c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a61042;
}
.topbtn .top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: .5s ease-in;
  cursor: pointer;
  border-radius: 50%;
  color: #c0114c;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(235, 184, 117);
  border: 3px solid #fff;
  padding: 13px;
}
.display{
  opacity: 1;
}
.hide{
  opacity: 0;
}
