/* .main-links{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
}

.main-links .links {
    color: #fa8411;
    padding-right: 10px;
}
.menu-list{ 
    background-color: #fa8411;
    width: fit-content;
    padding: 5px;
    border-radius: 6px;
}

.sub-links{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    transition: .3s ease-out;
}
.sub-links:hover{
    padding-left: 5px;
}    */

